<StackLayout
  minHeight="300"
  horizontalAlignment="center"
  verticalAlignment="center"
  *ngIf="inProgress && feed.length == 0"
  >
  <ActivityIndicator busy="true" style="color: #888"></ActivityIndicator>
</StackLayout>


<PullToRefresh #puller (refresh)="refresh(puller)">
  <ListView [items]="feed" (loadMoreItems)="loadMore()" [itemTemplateSelector]="templateSelector">

    <template let-item="item" nsTemplateKey="activity">
      <StackLayout>
        <activity [entity]="item"></activity>
      </StackLayout>
    </template>

    <template let-item="item" nsTemplateKey="image-activity">
      <StackLayout>
        <image-activity [entity]="item"></image-activity>
      </StackLayout>
    </template>

    <template let-item="item" nsTemplateKey="batch-activity">
      <StackLayout>
        <image-activity [entity]="item"></image-activity>
      </StackLayout>
    </template>
    
  </ListView>
</PullToRefresh>

